<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Cache" content="no-cache">

  <title>首页 - 博客</title>
    <!-- js for lib -->
    <script type="text/javascript" src='lib/ejs.js'></script>
    <script type="text/javascript" src='lib/view.js'></script>

    <!-- js for app -->
    <script type="text/javascript" src='app.js'></script>

</head>

<body>
  <div> <a href="#/">首页</a></div>
  <div id="main" > </div>

</body>
</html>
